[submodule "3rd-party/pico-sdk"]
	path = 3rd-party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "3rd-party/pico-examples"]
	path = 3rd-party/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "3rd-party/st7789_library_for_pico"]
	path = 3rd-party/st7789_library_for_pico
	url = https://github.com/ArmDeveloperEcosystem/st7789-library-for-pico.git
[submodule "3rd-party/lvgl"]
	path = 3rd-party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "3rd-party/MultiButton"]
	path = 3rd-party/MultiButton
	url = https://github.com/0x1abin/MultiButton.git
